/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body.dark {
    background-color: #121212;
    color: #ffffff;
  }
  
  body.dark button {
    background-color: #ffffff;
    color: #121212;
  }
  
